.drag_elem {

}

body{
    height: 100vh;
}
.all_drag_panel {
    width: 100%;
    position: absolute;
}

.all_drag_free_drag {
    position: absolute !important;
}

.all_drag_slide_drag {
    position: fixed !important;
}
